
/*------------------------------------------------- CSS for navbar --------------------------------------------------*/
.nk-navbar-custom{
    background-color: transparent !important;
    padding: 20px 0px;
}

/*------------------------------------------------- CSS for main --------------------------------------------------*/
body {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../images/background_main_menu.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.097);
}
body::-webkit-scrollbar{
    display:none;
}
.nk-main{
    background-color: transparent !important;
}
.main-menu {
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-header {
    width: 50%;
    height: 20%;
    min-width:250px;
    max-width: 500px;
}

/*------------------------------------------------- CSS for buttons --------------------------------------------------*/
.btn-container {
    margin-top: 2.5rem;
    padding: 0.3rem;
    border-radius: 8px;
    color: white;
}
.btn-container a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color:inherit;
}

.start-btn {
    background-color: limegreen;
    transition-duration: 0.4s;
}
.start-btn:hover{
    background-color: green;
    cursor: pointer;
}

.leaderboard-btn {
    background-color: gold;
    transition-duration: 0.4s;
}
.leaderboard-btn:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
}

.exit-btn {
    background-color: red;
    transition-duration: 0.4s;
}
.exit-btn:hover {
    background-color: darkred;
    cursor: pointer;
}
