@model IEnumerable<SDD_ASG2.Models.Scores>

@{
    ViewData["Title"] = "Leaderboard";
}

@if (TempData["FinishScore"] != null)
{
    <div class="modal fade pulse animated" id="finish-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Score</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@Html.Raw(TempData["FinishScore"])</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @section scripts {
        <script type="text/javascript">
            $(document).ready(function() {
                $('#finish-modal').modal('show');
            });
        </script>
    }
}


<section class="container">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class=" d-flex justify-content-center align-items-center text-primary m-0 fw-bold">Leaderboard</p>
        </div>
        <div class="card-body">
            <div id="dataTable" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                <table id="dataTable" class="table my-0">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Username</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            Int16 count = 0;
                            foreach (var item in Model)
                            {
                                count++;

                                <tr>
                                    <td>@count</td>
                                    <td><img class="rounded-circle me-2" width="30" height="30" src="/images/Title_main_menu.png" />@item.Username</td>
                                    <td>@item.Score</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>