@{
    ViewData["Title"] = "Profile Page";
    ViewData["css"] = "profile.css";
}

<div class="container d-flex">
    <!--Profile Details-->
    <div class="d-flex flex-column">
        <h5>Profile info</h5>
        <a>@TempData["username"]</a>
        <a>password</a>
    </div>

    <!--Highscore-->
    <div>
        <h5>Highscore</h5>
    </div>

</div>