@{
    ViewData["Title"] = "Home Page";
    ViewData["css"] = "Home/index.css";
}

<div class="main-menu">
    <!-- Header of main menu -->
    <img src="~/images/Title_main_menu.png"  class="menu-header"/>
    
    <!-- Buttons -->
    <div class="btn-container start-btn">
        <a href="#">Start New Game</a>
    </div>

    <div class="btn-container load-btn">
        <a href="#">Load Game</a>
    </div>

</div>
