@{
    ViewData["Title"] = "Home Page";
    ViewData["css"] = "home.css";
    ViewData["bodyid"] = "home";
}

<div class="main-menu">
    <!-- Header of main menu -->
    <img class="menu-header pulse animated infinite" src="~/images/Title_main_menu.png" />
    
    <!-- Buttons -->
    <div class="btn-container start-btn">
        <a href="#">Start New Game</a>
    </div>

    <div class="btn-container start-btn">
        <a href="#">Load Game</a>
    </div>

    <div class="btn-container leaderboard-btn">
        <a href="#">Leaderboard</a>
    </div>

    <div class="btn-container exit-btn">
        <a href="#">Exit</a>
    </div>

</div>
