@{
    ViewData["Title"] = "Home Page";
    ViewData["css"] = "home.css";
    ViewData["bodyid"] = "home";
}

<div class="main-menu">
    <!-- Header of main menu -->
    <img class="menu-header pulse animated infinite" src="~/images/Title_main_menu.png" />
    
    <!-- Buttons -->
    <div class="btn-container">
        <a href="#" class="btn btn-animate">Start New Game</a>
    </div>

    <div class="btn-container start-btn">
        <a href="#" class="btn btn-animate">Load Game</a>
    </div>

    <div class="btn-container">
        <a href="#" class="btn btn-animate">Leaderboard</a>
    </div>

    <div class="btn-container">
        <a href="#" class="btn btn-animate">Exit</a>
    </div>

</div>
