
@{
    ViewData["Title"] = "Login";
    ViewData["css"] = "Home/login.css";
}

<div class="login-form">
    <form asp-controller="Home" asp-action="Login" method="post">
        <h1>Login</h1>
        <div class="content">
            <div class="input-field">
                <input type="text" placeholder="Username" autocomplete="nope" name="username">
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password" autocomplete="new-password" name="password">
            </div>
            <p style="color:red">@TempData["ErrorMsg"]</p>
        </div>
        <div class="action">
            <button type="submit">Sign in</button>
            <button asp-controller="Home" asp-action="Register">Register</button>
        </div>
    </form>
</div>


