/*START of Game Index*/
#game td {
    width: 5%;
    padding-top: 5%; /* 1:1 Aspect Ratio */
    position: relative;
}

#game .floating-container-main{
    position: fixed;
    width: 100px;
    height: 250px;
    bottom: 3rem;
    right: 0;
    margin: 35px, 0px;
    text-align: center;
    background-color:white;
}

#game .game-instructions{
    text-decoration:none;
}

#game .floating-container .float-element {
    width: 65px;
    height: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
    cursor: grab;
}

#game .Residential {
    background-image: url(../images/Building/Residential.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#game .Industry {
    background-image: url(../images/Building/Industry.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#game .Commercial {
    background-image: url(../images/Building/Commercial.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#game .Park {
    background-image: url(../images/Building/Park.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#game .Road {
    background-image: url(../images/Building/Road.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*END of Game Index*/

#instruction-modal img {
    width: 35px;
    height: 35px;
}