/*START of Game Index*/
#game td {
    width: 5%;
    padding-top: 5%; /* 1:1 Aspect Ratio */
    position: relative;
    background-size: cover;
}

#game .floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 3rem;
    right: 0;
    margin: 35px 25px;
}

#game .floating-container .float-element {
    width: 65px;
    height: 65px;
    background-color: royalblue;
    bottom: 0;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
    cursor: grab;
}

/*END of Game Index*/