<ul class="nk-nav">
    <li>
        <a href="~/Home"> Home </a>
    </li>
    <li>
        <a href="~/Game/Profile"> Profile </a>
    </li>
    <li>
        <a id="savegame" href="#"> Save Game </a>
    </li>
    <li>
        <a href="~/Logout"> Logout </a>
    </li>
</ul>