<ul class="nk-nav">
    <li>
        <a href="~/Home"> Home </a>
    </li>
    <li>
        <a href="~/Home/Login"> Login </a>
    </li>
    <li>
        <a href="~/Home/Register"> Register </a>
    </li>
</ul>